body {
    margin: 0;
    padding: 0;
    font-family:system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f1f5f8;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1184px;
}

.wrapper {
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px #dfdfdf;
    /* position: sticky; */
    top: 0;
    z-index: 1;
    background-color: #f1f5f8e9;
    filter:blur(0px);
    -webkit-filter:blur(0px);
}

.logo > img{
    width: 90px;
    transition:ease-in 0.2s;
}

.logo, .logo > img:hover {width: 95px;}

.search-input {
    width: 160px;
    padding: 9px 37px 9px 9px;
    font-size: large;
    font-weight: 100;
    outline: none;
    border: 1px solid gray;
    border-radius: 4px;
    transition:ease-in 0.4s;
}
.search-input:focus {border: 1px solid orange;}

.search-button {
    padding: 7px;
    font-size: medium;
    border: none;
    border-radius: 4px;
    position: relative;
    left: -35px;
    top: 2px;
    background-color: antiquewhite;
    cursor: pointer;
}

.nav-items > ul{
    display: flex;
    list-style-type: none;
}
.nav-items > ul > li {padding: 10px;}

.nav-items > ul > li > a{
    text-decoration: none;
    color: #3d4153;
}

.user-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.user {
    display: flex;
    align-items: end;
    font-size: 16px;
    font-weight: 350;
    color: #3d4153;
    gap: 5px;
}

.user > a > img {width: 30px;}

.cart > a {
    display: flex;
    align-items: end;
    gap: 3px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 350;
    color: #3d4153;
}

.cart > a > img {width: 26px;}

.card {
    width: 254px;
    box-shadow: 0px 0px 10px 2px lightgray;
    padding: 15px 15px 30px;
    contain: content;
    text-transform: capitalize;
    margin: 15px 8px 50px;
    color: #3d4153;
    background-color: #fff;
}

.card > div {
    color: #3d4153;
}

.card > img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.res-list {
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

.res-list > a {
    text-decoration: none !important;
}

.login-btn, .signup-btn {padding: 11px  13px;}

.shimmer {
    display: flex;
    justify-content: center;
    justify-content: stretch;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    width: 100%;
}
  
.shimmer-card {
      -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
      background-color: #FFF;
      height: 300px;
      width: 280px;
      margin: 0px 8px 50px;
      overflow: hidden;
}
.shimmerBG {
      animation-duration: 2.2s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      background: #ddd;
      background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
      background-size: 1200px 100%;
  }
  
  @-webkit-keyframes shimmer {
      0% {
          background-position: -100% 0;
      }
      100% {
          background-position: 100% 0;
      }
  }
  
  @keyframes shimmer {
      0% {
          background-position: -1200px 0;
      }
      100% {
          background-position: 1200px 0;
      }
  }
    
      .media {height: 200px;}
  
  .p-32 {padding: 15px 15px 30px;}
  
  .title-line {
      height: 24px;
      width: 100%;
      margin-bottom: 12px;
      border-radius: 20px;
  }
  
  .content-line {
      height: 8px;
      width: 100%;
      margin-bottom: 16px;
      border-radius: 8px;
  }
    
    .end {width: 40%;}
  
  .m-t-24 {margin-top: 24px;}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #757575;
    box-shadow: 0 2px 5px 1 rgba(0, 0, 0, 0.10);
    background-color: #e9ded8;
    clear: both;
    position: relative;
    height: 56px;
    margin-top: 100px;
}
.rest-name {
    font-size: 17px;
    font-weight: 500;
    word-wrap: break-word;
    margin-top: 13px;
}
.rest-cuisines {
    font-size: 13px;
    margin-top: 6px;
}
.wrap-data {
    justify-content: space-between;
    font-size: 12px;
    align-items: center;
    display: flex;
    margin-top: 18px;
    height: 20px;
    padding: 0 5px;
}
.star-rating {display: flex;}

.menu-container {
    margin-top: 10px;
}

.res-wrapper {
    position: sticky !important;
    top: 0!important;
    width: 100%;
    background-color: #000000d0;
}

.res-info {
    display: flex;
    max-width: 1200px;   
    margin: auto;
    color: rgba(255, 166, 0, 0.887);
    height: 180px;
}

.res-info > img {
    object-fit: cover;
    width: 250px;
    height: 160px;
    margin: auto;
    border-radius: 5px;
}

.res-details {
    text-transform: capitalize;
    display: flex;
    margin: auto;
    flex-direction: column;
    gap: 10px;
}

.res-details > div > span {
    color: #dfdfdf;
}

.menu-title {
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #3d4153;
    border-bottom: 0.8px solid #c8c8c8;
}

.res-item-wrapper {
    max-width: 1200px;
    margin:auto;
}

.item {
    display: flex;
    width: 50%;
    margin: 5px auto;
    padding: 10px;
    border-bottom: 0.8px solid #c8c8c8;
    color: #3d4153;
    gap: 30px;
}

.res-item-img > img {
    object-fit:cover;
    width: 140px;
    height: 100%;
    border-radius: 5px;
}
.res-item-img{
    width: 140px;
    height:100px;
    border-radius: 5px;
}

.res-item-info {
    text-align: right;
    overflow-wrap: break-word;
    flex-direction: column;
    display: flex;
    flex: auto;
}

.res-name {
    font-size: 15px;
    font-weight: 500;
}
.res-desc {
    font-size: 14px;
    font-weight: 300;
}
.res-price {
    font-size: 15px;
    font-weight: 600;
}