body {
    margin: 0;
    padding: 0;
    font-family:system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f1f5f8;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px 0px rgb(193, 204, 215);
    background-color: #fff;
    column-gap: 77px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo > img{
    width: 90px;
    transition:ease-in 0.2s;
}

.logo, .logo > img:hover {
    width: 95px;
}
.user-icon{
    width: 30px;
}
.user-icon > a > img {
    width: 100%;
}

.search-input {
    width: 160px;
    padding: 9px 37px 9px 9px;
    font-size: large;
    font-weight: 100;
    outline: none;
    border: 1px solid gray;
    border-radius: 4px;
    transition:ease-in 0.4s;
}
.search-input:focus {
    border: 1px solid orange;
}

.search-button {
    padding: 7px;
    font-size: medium;
    border: none;
    border-radius: 4px;
    position: relative;
    left: -35px;
    top: 2px;
    background-color: antiquewhite;
    cursor: pointer;
}

.nav-items > ul{
    display: flex;
    list-style-type: none;
}
.nav-items > ul > li{
    padding: 10px;
}
.nav-items > ul > li > a{
    text-decoration: none;
    color: #3d4153;
}

.card {
    width: 254px;
    box-shadow: 0px 0px 10px 2px lightgray;
    padding: 15px 15px 30px;
    contain: content;
    text-transform: capitalize;
    margin: 0px 8px 50px;
    color: #3d4153;
    background-color: #fff;
}

.card > img {
    width: 100%;
}

.restaurant-list {
    display: flex;
    justify-content: center;
    justify-content: stretch;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    width: 100%;
}

.cart-icon {
    width: 26px;
}

.cart-icon > a > img {
    width: 100%;
}

.right-container {
    display: flex;
    align-items: center;
    gap: 8px;
}



.login-btn, .signup-btn {
    padding: 11px  13px;
}

.shimmer {
    display: flex;
    justify-content: center;
    justify-content: stretch;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    width: 100%;
}
  
.shimmer-card {
      -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
      background-color: #FFF;
      height: 300px;
      width: 280px;
      margin: 0px 8px 50px;
      overflow: hidden;
}
.shimmerBG {
      animation-duration: 2.2s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      background: #ddd;
      background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
      background-size: 1200px 100%;
  }
  
  @-webkit-keyframes shimmer {
      0% {
          background-position: -100% 0;
      }
      100% {
          background-position: 100% 0;
      }
  }
  
  @keyframes shimmer {
      0% {
          background-position: -1200px 0;
      }
      100% {
          background-position: 1200px 0;
      }
  }
    
      .media {
      height: 200px;
  }
  
  .p-32 {
      padding: 15px 15px 30px;
  }
  
  .title-line {
      height: 24px;
      width: 100%;
      margin-bottom: 12px;
      border-radius: 20px;
  }
  
  .content-line {
      height: 8px;
      width: 100%;
      margin-bottom: 16px;
      border-radius: 8px;
  }
    
    .end {
        width: 40%;
      }
  
  .m-t-24 {
      margin-top: 24px;
  }

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    font-size: 14px;
    color: #757575;
    box-shadow: 0 2px 5px 1 rgba(0, 0, 0, 0.10);
    position: sticky;
    z-index: -2;
}
.rest-name {
    font-size: 17px;
    font-weight: 500;
    word-wrap: break-word;
    margin-top: 13px;
}
.rest-cuisines {
    font-size: 13px;
    margin-top: 6px;
}
.wrap-data {
    justify-content: space-between;
    font-size: 12px;
    align-items: center;
    display: flex;
    margin-top: 18px;
    height: 20px;
    padding: 0 5px;
}
.star-rating {
    display: flex;
}